{% extends "base.html" %}


{% block content %}
    <h1>Register</h1>
    <br>
    <form method="POST">
        {{ form.hidden_tag() }}

        {{ form.name.label(class="label-control" ) }}
        {{ form.name(class="form-control") }}
        
        {{ form.email.label(class="label-control" ) }}
        {{ form.email(class="form-control") }}
    
        {{ form.password1.label(class="label-control" ) }}
        {{ form.password1(class="form-control") }}
        
        {{ form.password2.label(class="label-control" ) }}
        {{ form.password2(class="form-control") }}
        <br>
        {{ form.submit(class="btn btn-secondary") }}

    </form>
    <br><br><br>
<table class="table table-hover table-bordered table-striped">
<!-- {% for our_user in our_users %}
    <tr><td> {{ our_user.id }}. - {{ our_user.name }} - {{ our_user.email }}</td></tr>
{% endfor %}
</table> -->
{% endblock %}